body {
    position: relative;
    min-height: 100%;
    background-color: rgb(206, 235, 251);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


header {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    border-radius: 10px;
}

header input {
    border-radius: 10px;
}


.header-block {
    justify-content: center;
    border: 5px solid yellow;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-self: stretch;
}

.logo-and-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid green;
    width: 85%;
}


.logoimg {
    display: inline-block;
}

li {
    list-style-type: none;
}


.header-navigation ul {
    padding: 10px 5px;  // верхниз левоправо
}

.header-navigation li{
    list-style-type: none;
    position: relative;

}


.header-navigation a {
    text-decoration: none;

}


.main-nav-ul {
    display: flex;
    list-style-type: none;
}


.main-nav-ul>li{
    margin-left: 10px;
    margin-right: 10px;

}

.main-nav-ul>li:hover .sub-nav-ul {
    display: block;
}


.menu_link {
    color: black;
}


.menu_link:hover {
    color: rgba(0, 0, 0, 20%);
}


.sub-nav-ul {
    padding-top: 50px;
    z-index: 100;
    display: none;
    position: absolute;
    left: 0;
    /* top: 0; */
    background-color: black;
    opacity: 0.75;

}

.sub-sub-nav-ul {
    display: none;
}

.sub-sub-nav-ul a{
    color: white;
}


.sub_menu_link {
    color: white;
}




.mainform {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
}

.inputs {
    display: flex;
    flex-flow: row;
    margin: 3px;
}


.inputs input {
    width: 50%;
    height: 100%;
    margin: 3px;
}


.inputs input:focus {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 20%);
}





.reglog {
    display: flex;
    flex-flow: row;
    margin: 3px;
}


.reglog button:hover {
    background-color: rgba(0, 0, 0, 20%);
    color: rgb(255, 255, 255);
}


.reglog button {
    display: block;
    width: 50%;
    height: 100%;
    margin: 3px;
}


.checkboxaccount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.checkbox-label {
    display: block;
}


.forgotpass {
    display: block;
    margin: 6px;
    text-decoration: none;
    color: black;
}


.forgotpass:hover {
    color: rgba(0, 0, 0, 20%);
}


.checkboxshowpass {
    display: block;
}


.searchfield {
    display: flex;
    justify-content: center;
    width: 85%;
    flex-direction: row;
}

.searchtext {
    width: 85%;
    margin: 3px;
    background-image: url('pngsearch.png');
    background-repeat: no-repeat;
    background-position: 99%;
}

.searchtext:focus {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 20%);
}


.btnsearch {
    width: 20%;
    height: 100%;
    margin: 3px;
}

.btnsearch:hover {
    background-color: rgba(0, 0, 0, 20%);
    color: rgb(255, 255, 255);
}


.wrapper {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}


.slider {
    width: 85%;
    margin: 0 auto;
    border: 5px solid black;
}


.slick-arrow::before {    /*стили для всех стрелок*/
    color: black;
    position: absolute;
    font-size: 30px;

}


.slick-prev::before {        /*стили для стрелки назад*/
    left: 50px;
    z-index: 100;
}


.slick-next::before {        /*стили для стрелки вперед*/
    right: 50px;
    z-index: 100;
}



.slider img {
    width: 100%;
    margin: 0 auto;
}


.slick-slide{
    margin:10px;
  }


.slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }


main {
    height: 100%;
    padding-bottom: 90px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    border: 5px solid lightyellow;
    flex-flow: row wrap;
    flex-basis: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.categories figure:hover {
    background-color: rgba(0, 0, 0, 10%);
}


.catfigure {
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.catfigure a {
    text-decoration: none;
}


.catfigure img {
    margin: 5px 10px;
    border-radius: 10px;
}


.catimg {
    max-width: 150px;
}


.sectionhits {
    display: flex;
    width: 85%;
    border: 5px solid blue;
}


.hits-block {
    display: flex;
    flex-direction: column;
}


.hitsblock {
    border: 5px solid yellow;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}


.hitsblock figure {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.hitsblock figure:hover {
    background-color: rgba(0, 0, 0, 10%);
}


.hits-block button:hover {
    background-color: rgba(0, 0, 0, 20%);
    color: rgb(255, 255, 255);
}


.hitsblock img {
    margin: 5px 10px;
    border-radius: 10px;
}


.hitsblock figcaption {
    margin-bottom: 3px;
}


.hh2 {
    margin-left: 3px;
}


.hitsblock button {
    width: 150px;
    height: 25px;
    margin-bottom: 3px;
}


.pricehits {
    margin-bottom: 3px;
}




.showallbutton-block {
    width: 100%;
    display: flex;
    justify-content: center;
}


.showallbutton {
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}



.hitsimg {
    max-width: 150px;
}


.showall {
    display: block;
}


section {
    display: flex;
}


form {
    display: flex;
}


.wetrust {
    display: flex;
    justify-content: space-around;
    width: 85%;
    flex-flow: row wrap;
    border: 5px solid green;
    margin-top: 30px;
    margin-bottom: 30px;
}


.certificate-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


.certificate-img {
    border-radius: 50%;
    max-width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.about {
    display: flex;
    width: 85%;
    flex-flow: column wrap;
    border: 5px solid black;
    margin-bottom: 30px;
    margin-bottom: 30px;
}


.h2letusknow {
    margin-top: 15px;
    margin-bottom: 15px;
}


.h2letusknow h2 {
    margin-left: 3px;
}


.pretext {
    display: block;
}


.abouttext {
    margin-left: 3px;
}



footer {
    border: 5px solid red;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.footerblock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}


.footernav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.footernav li {
    margin-left: 10px;
    margin-right: 10px;
}


.footernav li a {
    text-decoration: none;
}


.copyright {
    display: flex;
    justify-content: flex-start;
}


.copyright p {
    display: inline-block;
    margin-left: 25px;
}
