body {
    position: relative;
    min-height: 100%;
/*    background-color: rgb(206, 235, 251);*/
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


header {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    border-radius: 10px;
}

header input {
    border-radius: 10px;
}


.header-block {
    justify-content: center;
    border: 5px solid yellow;
    background-color: rgb(0.31,0.42,0.72, 20%);
    display: flex;
    align-self: stretch;
}

.logo-and-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid green;
    width: 85%;
}

.logoimg {
    display: inline-block;
}

li {
    list-style-type: none;
}

.header-navigation ul {
    padding: 10px 5px;  // верхниз левоправо
}

.header-navigation li{
    list-style-type: none;
    position: relative;

}

.header-navigation a {
    text-decoration: none;

}

.main-nav-ul {        /*Стили для общего меню*/
    display: flex;
    list-style-type: none;
}


.main-nav-ul > li{        /*Стили для лишек в меню*/
    margin-left: 10px;
    margin-right: 10px;
}


.main-a {        /*Стили для ссылок в навигации*/
    color: black;
}

.main-a:hover {    /*Наведение на ссылки в меню*/
    color: rgba(0, 0, 0, 20%);
}

.main-nav-ul > li:hover .sub-nav-ul {        /*Наведение на лишки в меню*/
/*    display: block;*/
}

.main-nav-ul > li:hover .uldropdown {        /*Наведение на лишки в меню*/
    display: flex;
    flex-direction: row;
}

.sub-nav-ul {        /*Выпадающий список первого уровня*/
/*
    padding-top: 50px;
    z-index: 100;
    display: none;
    left: 0;
    background-color: black;
    opacity: 0.75;
*/
}


.sub_menu_link {        /*Ссылка в выпадающем первом меню*/
    color: white;
}


.mainform {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
}

.inputs {
    display: flex;
    flex-flow: row;
    margin: 3px;
}

.inputs input {
    width: 50%;
    height: 100%;
    margin: 3px;
}

.inputs input:focus {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 20%);
}

.reglog {
    display: flex;
    flex-flow: row;
    margin: 3px;
}


.reglog button:hover {
    background-color: rgba(0, 0, 0, 20%);
    color: rgb(255, 255, 255);
}


.reglog button {
    display: block;
    width: 50%;
    height: 100%;
    margin: 3px;
}


.checkboxaccount {
    display: flex;
    align-items: center;
    margin: 3px;
}


.checkbox-label {
    display: inline-block;
}


.forgotpass {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 50%;
    border: 3px solid white;
}


.forgotpass:hover {
    color: rgba(0, 0, 0, 20%);
}


.checkboxshowpass {
    display: inline-block;

    text-decoration: none;
    color: black;
}


.searchfield {
    display: flex;
    justify-content: center;
    width: 85%;
    flex-direction: row;
}

.searchtext {
    width: 85%;
    margin: 3px;
    background-image: url('pngsearch.png');
    background-repeat: no-repeat;
    background-position: 99%;
}

.searchtext:focus {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 20%);
}

.btnsearch {
    width: 20%;
    height: 100%;
    margin: 3px;
}

.btnsearch:hover {
    background-color: rgba(0, 0, 0, 20%);
    color: rgb(255, 255, 255);
}

main {
    height: 100%;
    padding-bottom: 90px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopping-cart {
    border: 5px solid blue;
    width: 85%;
}

.shopping-cart li {
    border: 3px solid black;
    margin-top: 20px;
}

.cart-list {
    border: 5px dotted green;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
/*    background-color: rgba(0, 0, 0, 20%);*/
    padding-top: 20px;
    padding-bottom: 20px;
    height: 70px;
}

.cart-img {
    border-radius: 1.5em;
    width: 60px;
    margin-left: 20px;
}
/*

.cart-img-block {
    flex-grow: 2;
    flex-basis: auto;
}
*/

.cart-name {
    flex-grow: 5;
    flex-basis: 300px;
    padding-left: 15px;
}

.count-item {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    height: 30px;
/*    flex-basis: 10px;*/
}

.count-input {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    border: 1px solid black;
}

.delete-button {
/*    flex-grow: 1;*/
/*    flex-basis: 10px;*/
    margin-top: 5px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(iconfinder_trash-2_2561228.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto 0;
}

/*
.minus-count {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
*/

.minus-count-icon {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(iconfinder_minus_3325004.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.accept-icon {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(iconfinder_check_3325079.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*

.plus-count {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
*/

.plus-count-icon {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(iconfinder_plus_3325019.svg);
    background-position: center;
    background-repeat: no-repeat;
}


footer {
    border: 5px solid red;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.footerblock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}


.footernav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.footernav li {
    margin-left: 10px;
    margin-right: 10px;
}


.footernav a {
    text-decoration: none;
    color: black;
}


.copyright {
    display: flex;
    justify-content: flex-start;
}


.copyright p {
    display: inline-block;
    margin-left: 25px;
}


.dropdown {
    border: 3px solid blue;
    background-color: black;
    display: none;
}

.uldropdown {
    z-index: 100;
    display: none;
    left: 0;
    background-color: black;
    opacity: 0.75;
    position: absolute;
}
